@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace; /* Ustawienie JetBrains Mono jako domyślnej czcionki */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: 'JetBrains Mono', monospace; /* Ustawienie JetBrains Mono dla odnośników */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; /* Zachowanie specjalnej czcionki dla kodu */
}
