

@layer tailwind-base, primereact, tailwind-utilities;



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;


  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


.p-toast-message-content {
  @apply border-0;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; 
  height: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent ; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#60a5fa] rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-[#93c5fd]; 
}
.custom-scrollbar {
  padding-bottom: 36px;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: 'Inter var', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: 'Inter var', sans-serif; /* Ustawienie JetBrains Mono dla odnośników */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; /* Zachowanie specjalnej czcionki dla kodu */
}
.p-stepper .p-stepper-panels {
  background: unset;
}
.menu-bg-transparent .p-menuitem-link{
  background-color: transparent;
}
.p-datatable-emptymessage{
  background-color: transparent;
}




@keyframes slideRight {
  from {
      opacity: 0;
      transform: translateX(-1rem);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
      opacity: 0;
      transform: translateX(1rem);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(1rem);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-slideRight {
  animation: slideRight 0.8s ease-out forwards;
  animation-delay: 500ms; 
}

.animate-slideLeft {
  animation: slideLeft 0.8s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.8s ease-out forwards;
  animation-delay: 500ms;
}

.animation-delay-200 {
  animation-delay: 700ms;  
}

.animation-delay-300 {
  animation-delay: 900ms;  
}

.animation-delay-400 {
  animation-delay: 1100ms;
}

.animation-delay-500 {
  animation-delay: 1300ms; 
}

.animation-delay-600 {
  animation-delay: 1500ms; 
}

.animation-delay-700 {
  animation-delay: 1700ms; 
}

.animation-delay-final {
  animation-delay: 2000ms; 
}
